<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>mySpringProject</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:../springcommon/*.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!--自定义servlet-->
    <servlet>
        <servlet-name>myServlet</servlet-name>
        <servlet-class>main.com.dispatch.MyServlet</servlet-class>
    </servlet>
    <!--spring mvc 拦截以.mc 结尾的请求-->
    <servlet-mapping>
        <servlet-name>myServlet</servlet-name>
        <url-pattern>*.mc</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <!--这里param-name 必须是contextConfigLocation 否则会抛出异常-->
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:../springcommon/*.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!--spring mvc 拦截以.do 结尾的请求-->
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <!--在servlet 就对静态资源进行拦截，防止走到spring 中做匹配-->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>./index.jsp</welcome-file>
    </welcome-file-list>


</web-app>